$font-default: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

// Cores
$color-background: #f3f3f4;
$color-gray: #7c7e80;

$color-primary: #8277ba;
$color-secondary: #FFF;
$color-danger: #c82333;;

$color-background-navbar: #2b303b;
$color-alert-background: #fddddd;